@model HeaderVM
<!-- Sub Header -->
<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p>This is an educational <em>HTML CSS</em> template by TemplateMo website.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="@Model.SocailMedia.Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="@Model.SocailMedia.Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="@Model.SocailMedia.Behance"><i class="fa fa-behance"></i></a></li>
                        <li><a href="@Model.SocailMedia.Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        Edu Meeting
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li onclick="location.href='/'" class="scroll-to-section"><a href="#" class="@(ViewBag.MenuIndex==0?"active":"")">Home</a></li>
                        <li><a class="@(ViewBag.MenuIndex==1?"active":"")" asp-controller="Meeting" asp-action="Index">Meetings</a></li>
                        <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="sub-menu">
                                @foreach (Category c in Model.Categories)
                                {
                                    <li><a href="#">@c.Name</a></li>
                                }        
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#courses">Courses</a></li>
                        <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
<!-- ***** Main Banner Area Start ***** -->
